/.bundle
/db/*.sqlite3*
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/public/packs
/public/packs-test
/vendor
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.yardoc
doc
.env
/coverage
.tool-versions
.idea/
app/assets/builds/
